In [1]:
print('Hello Friends')

Hello Friends

Writing clean code is important to increase readability and maintability because of that spacing in after and before equality symbol is important

In [12]:
a=2
print(a)

2

In [2]:
a = 2
print(a)

2

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
x = 43
x = x + 1
print(x)

44

In [19]:
a = 34
b = 'Python'
c = 3.4

In [20]:
print(a)

34

In [21]:
print(b)

Python

In [23]:
print(c)

3.4

In [24]:
print(a,b,c)

34 Python 3.4

In [25]:
type(a)

int

In [26]:
type(b)

str

In [27]:
type(c)

float

Python is a case sensitive languae

In [28]:
d = true

NameError: name 'true' is not defined

In [29]:
d = True

In [30]:
type(d)

bool

In [32]:
a = 5;
A = 55;
print(a,A)

5 55

In [ ]:
A = 55;
print()

See active variable use who

In [33]:
who

A	 a	 b	 c	 d	 x

See more detailed active variables

In [34]:
whos

Variable   Type     Data/Info
-----------------------------
A          int      55
a          int      5
b          str      Python
c          float    3.4
d          bool     True
x          int      44

Variable names cannot start with number or special characters. Or you cannot use reversed keywords such as 'class'. If a variable name which is colored with bold and green, meaning of this is keyword

In [35]:
5num

SyntaxError: invalid syntax (4223410424.py, line 1)

In [36]:
class = x

SyntaxError: invalid syntax (3904948532.py, line 1)

In [52]:
variableNotStartWithZero = 08

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4214819459.py, line 1)

division in python 3.x. If we cannot specify, divide operator returns floating point. // double dividing meaning is floor.

In [37]:
x = 60;
print(60/59)

1.0169491525423728

In [41]:
print(int(60/59))
print(60//59)

1
1

__expression__ meaning is that if there is not assignment operation. For example x + 17

reminder operations % module operation

In [44]:
reminder = 27 % 5;
print(reminder)

2

there is no significant difference between single ' or double ".

In [51]:
name1 = 'Ali'
name2 = "Veli"
name3 = "Ali's"
name4 = 'Ali"s'
print(name1, name2, name3, name4)
print(f"{name1} {name2}") #f meaning is format. Its is like $ string for in .net

Ali Veli Ali's Ali"s
Ali Veli

### Inputs

In [ ]:
name = input('Enter your name:') #if there is a star inside the [lineNumber]. The meaning of that your program
#waiting an input to enter https://discourse.jupyter.org/t/input-function-not-working/2290/4
print(name)

### Import a library

In [55]:
pi #we cannot use pi without importing math library

NameError: name 'pi' is not defined

In [57]:
import math;
math.pi

3.141592653589793